
  .admin-feedback-card {
    width: 100%;
    margin: auto;
    background-color: 		#383838;
    box-shadow: 0 8px 16px rgba(74, 72, 72, 0.836), 0 4px 8px rgba(226, 226, 226, 0.748);
    transition: box-shadow 0.3s ease;
    border-radius: 17px;
    height: 500px;
    transition: transform 0.3s ease-in-out;
  }
  
  .admin-feedback-card:hover {

    transform: translateY(-4px);
  }
  .status-icon {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .delivered {
    background-color: #28a745 !important; /* Green for delivered */
  }
  
  .processing {
    background-color: #ffc107 !important; /* Yellow for processing */
  }
  
  .custom-button {
    transition: background-color 0.3s ease;
    background-color: #707070 !important; /* Default green color */
  }
  
  .custom-button:hover {
    background-color: gray !important; /* Light green color on hover */
  }

  .custom-button-cancelled {
    transition: background-color 0.3s ease !important;
    background-color: #CD5C5C !important; /* Default green color */
  }
  .custom-button-delivered{
    background-color: #00563f !important;
    color: white !important;
    border: 1px solid gray !important;
  }
  
  